server:
  port: 3000

spring:
  application:
    name: delivery

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    jpa:
      properties:
        hibernate:
          show_sql: true
          format_sql: true
          use_sql_comments: true
      hibernate:
        ddl-auto: ${DB_DDL_AUTO}
      open-in-view: false
      generate-ddl: true

  # 시큐리티 - oauth2설정
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://keycloak.code-factory.co.kr/realms/codefactory
      client:
        registration:
          keycloak:
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:3000/v1/user/authorization/code"
            scope:
              - openid
              - profile
              - email
        provider:
          keycloak:
            issuer-uri: https://keycloak.code-factory.co.kr/realms/codefactory

  # OPEN AI 설정
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}

# Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh

# 로그 설정
logging:
  level:
    org.hibernate.type: trace
    org.hibernate.orm.jdbc.bind: trace
    org.springframework.ai.chat.client.advisor: DEBUG

# OPEN DOC API 설정
springdoc:
  version: '1.0.0'
  api-docs:
    path: /api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha
    path: /api-docs.html
    disable-swagger-default-url: true
    doc-expansion: full
  paths-to-match:
    - /v1/**

keycloak:
  server-url: https://keycloak.code-factory.co.kr
  realm: codefactory
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}
  admin-username: ${KEYCLOAK_ADMIN_USERNAME}
  admin-password: ${KEYCLOAK_ADMIN_PASSWORD}